In [1]:
#Imports y herramientas varias

import matplotlib.pyplot as plt
import numpy as np
import pandas as pnd
from sklearn import tree
from sklearn.model_selection import cross_val_score
from sklearn.cluster import KMeans
from sklearn.feature_selection import mutual_info_classif
from scipy.cluster.hierarchy import dendrogram, linkage, fcluster
from scipy.spatial.distance import cdist
from sklearn.manifold import TSNE
from sklearn.preprocessing import StandardScaler
import pydotplus
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.dummy import DummyClassifier, DummyRegressor

In [2]:
#Importar datos originales
path = "Datos/"

clientes = pnd.read_excel(path + "CREDITRISK_RAW.xlsx")

In [8]:
#Exploración de atributos
for key in clientes.keys():
    print "Atributo:", key
    print "\tTipo:", clientes[key].dtype

Atributo: ID
	Tipo: int64
Atributo: GENERO
	Tipo: object
Atributo: RENTA
	Tipo: float64
Atributo: EDAD
	Tipo: float64
Atributo: NIV_EDUC
	Tipo: object
Atributo: E_CIVIL
	Tipo: object
Atributo: COD_OFI
	Tipo: int64
Atributo: COD_COM
	Tipo: object
Atributo: CIUDAD
	Tipo: object
Atributo: Crédito_1
	Tipo: int64
Atributo: Crédito_2
	Tipo: int64
Atributo: Crédito_3
	Tipo: float64
Atributo: Crédito_4
	Tipo: int64
Atributo: Monto solicitado
	Tipo: float64
Atributo: Días de Mora
	Tipo: int64
Atributo: Monto Deuda Promedio
	Tipo: int64
Atributo: Número de meses inactivo
	Tipo: int64
Atributo: numero de cuotas
	Tipo: int64
Atributo: Aval
	Tipo: object
Atributo: PAGA
	Tipo: object

In [4]:
#Extracción de clientes con algún dato en blanco
empty_attribute_clients = clientes[clientes.isnull().any(axis=1)]
clean_clients = clientes[~clientes.isnull().any(axis=1)]

In [5]:
print len(clientes)
print len(clean_clients)
print len(empty_attribute_clients)

2294
2240
54

In [11]:
llaves = clean_clients.keys()

for j in range(len(llaves)):
    if clean_clients[llaves[j]].dtype == 'int64' or clean_clients[llaves[j]].dtype == 'float64':
        continue
    if llaves[j] in ['id']:
        continue
    values = clean_clients[llaves[j]].unique()
    dic = {}
    for i in range(len(values)):
        dic[values[i]] = i

    clean_clients[llaves[j]] = clean_clients[llaves[j]].apply(lambda x: dic[x])

#Paga: 0, No Paga: 1

/Users/synaptic/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [27]:
clean_clients

,ID,GENERO,RENTA,EDAD,NIV_EDUC,E_CIVIL,COD_OFI,COD_COM,CIUDAD,Crédito_1,Crédito_2,Crédito_3,Crédito_4,Monto solicitado,Días de Mora,Monto Deuda Promedio,Número de meses inactivo,numero de cuotas,Aval,PAGA
0,1,0,463000.0,55.0,0,0,27,0,0,0,-4030,0.0,292673,142.0,0,81,1,18,0,0
1,2,0,1200000.0,59.0,0,0,121,0,0,0,0,27797549.0,0,16.0,0,34519,1,60,0,1
2,3,0,526000.0,49.0,1,1,59,1,1,0,750000,0.0,0,0.0,0,8016,0,14,0,1
3,4,1,1500000.0,47.0,2,1,138,2,2,0,976444,0.0,0,13.0,10,25323,1,66,0,0
4,5,1,2600000.0,41.0,2,0,60,3,3,0,115440,0.0,4500000,7960.0,14,4566,3,77,1,1
5,6,0,1250000.0,30.0,0,2,63,4,4,0,799000,0.0,0,147.0,0,0,1,55,0,1
6,7,1,724000.0,47.0,2,0,138,2,2,0,500000,0.0,1963,0.0,0,2,1,24,0,0
7,8,1,1196000.0,53.0,2,0,27,0,0,0,0,0.0,0,0.0,4,0,1,60,0,0
8,9,0,510000.0,39.0,0,0,96,5,5,0,1050000,0.0,279914,305.0,0,0,1,10,0,1
9,10,1,685000.0,51.0,2,0,82,6,1,0,164272,0.0,99401,114.0,0,1152,1,26,0,0
10,11,1,760000.0,55.0,2,2,138,2,2,0,800000,0.0,0,41.0,0,0,1,30,0,0
11,12,1,57300.0,40.0,2,0,90,7,1,0,3292,0.0,220383,720.0,0,12014,2,43,0,0
12,13,0,558000.0,45.0,2,0,31,8,1,0,9521,0.0,241673,733.0,0,258,2,15,0,0
13,14,1,2854000.0,53.0,1,0,27,0,0,10224716,153716,0.0,3000000,14176.0,0,52949,3,30,1,0
14,15,1,2000000.0,47.0,2,2,138,2,2,0,1296000,0.0,200000,964.0,59,26225,2,80,0,0
15,16,1,659000.0,50.0,2,2,138,2,2,0,81964,0.0,0,76.0,0,0,1,26,0,0
16,17,1,5620000.0,43.0,2,0,40,7,1,0,839481,0.0,2689049,500.0,60,3520,2,47,0,0
17,18,1,2000000.0,61.0,1,0,24,9,6,0,500000,0.0,0,89.0,0,53118,1,80,0,1
18,19,1,820000.0,36.0,2,0,54,1,1,0,500000,0.0,0,0.0,0,64276,0,36,0,1
19,20,1,500000.0,40.0,1,0,88,10,7,0,1117500,0.0,0,174.0,0,0,1,9,0,1
20,21,0,600000.0,51.0,2,0,138,2,2,0,13476,0.0,0,279.0,0,0,1,22,0,0
21,22,0,70000.0,51.0,0,2,50,11,1,0,1300000,0.0,0,0.0,30,3358,0,62,1,1
22,23,0,6800000.0,34.0,1,2,19,7,1,0,0,0.0,93283,1028.0,0,491,1,14,0,1
23,24,1,1502000.0,45.0,2,0,31,8,1,2296794,425354,0.0,1649683,3005.0,37,3037,1,46,0,0
24,25,0,50000.0,45.0,1,1,16,12,8,332606,1198000,0.0,0,358.0,0,0,1,9,1,1
25,26,1,1160000.0,50.0,2,0,83,13,1,0,12044,0.0,1099284,3595.0,4,5361,3,23,0,0
26,27,0,2200000.0,38.0,2,2,84,13,1,0,491609,0.0,0,8.0,45,0,1,80,0,1
27,28,0,5010000.0,38.0,1,2,53,14,1,0,224185,0.0,49141,53.0,0,0,1,16,0,1
28,29,1,762000.0,45.0,0,2,103,15,1,0,250000,0.0,0,17.0,0,0,1,36,1,0
29,30,1,750000.0,35.0,1,0,16,16,1,0,490455,0.0,0,48.0,13,225,1,33,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2264,2265,1,85600.0,45.0,5,0,55,21,1,0,0,0.0,400000,0.0,0,408,1,25,0,0
2265,2266,1,5104000.0,49.0,2,0,31,8,1,0,0,0.0,1500000,3840.0,0,154087,1,80,0,0
2266,2267,1,770000.0,29.0,2,0,39,71,1,716281,388050,0.0,263031,1142.0,0,268,1,28,0,0
2267,2268,1,1000000.0,41.0,0,0,144,15,1,0,0,0.0,0,0.0,0,2,0,50,0,1
2268,2269,1,930000.0,40.0,1,0,34,38,22,3190810,800000,0.0,439853,3845.0,29,0,2,7,0,1
2269,2270,0,450000.0,51.0,1,0,82,45,1,0,129567,0.0,469387,246.0,0,224,1,16,0,0
2270,2271,1,835000.0,55.0,2,0,76,11,1,1001973,1074440,0.0,978720,1130.0,0,962,2,21,0,0
2271,2272,0,7400000.0,31.0,1,2,14,83,48,0,0,0.0,0,0.0,0,17,0,40,0,1
2272,2273,0,59700.0,45.0,0,2,16,1,1,0,700000,0.0,0,769.0,0,0,1,13,1,1
2273,2274,1,1030000.0,43.0,1,0,31,8,1,0,600000,0.0,0,2275.0,0,2,1,29,0,0
2274,2275,1,1123000.0,38.0,1,0,68,46,25,1286925,1858426,0.0,0,1712.0,0,0,1,25,0,1
2275,2276,0,450000.0,41.0,0,0,90,11,1,0,0,0.0,0,0.0,10,0,0,18,0,1
2276,2277,1,3200000.0,43.0,2,0,10,24,14,0,956620,0.0,0,86.0,46,0,1,80,0,1
2277,2278,1,51000.0,45.0,0,0,55,21,1,0,1950000,0.0,0,0.0,4,0,1,80,0,0
2278,2279,0,511000.0,59.0,1,2,84,13,1,0,78010,0.0,200000,1036.0,0,204,1,11,1,1
2279,2280,0,6570000.0,36.0,1,2,84,1,1,0,376752,0.0,0,2184.0,0,0,1,31,0,1
2280,2281,0,807000.0,44.0,2,0,138,2,2,0,31676,3030482.0,500000,728.0,0,4047,1,34,0,0
2281,2282,0,8600000.0,39.0,1,2,66,31,18,0,0,0.0,0,962.0,43,7184,1,48,0,1
2282,2283,1,1898000.0,40.0,2,0,138,2,2,4026312,0,0.0,370468,5598.0,7,378,2,58,1,0
2283,2284,1,1500000.0,46.0,0,0,19,39,1,0,2833748,0.0,0,881.0,0,4,2,47,0,0
2284,2285,1,787000.0,53.0,2,0,17,7,1,1493566,1289990,0.0,205949,1760.0,75,228,1,12,0,0
2285,2286,1,70000.0,46.0,0,0,55,21,1,0,527566,0.0,294511,768.0,15,856,1,43,0,0
2286,2287,1,1300000.0,53.0,0,0,85,1,1,0,766842,0.0,10679,32.0,0,0,1,58,0,0
2287,2288,1,2750000.0,37.0,0,0,24,75,1,0,1239794,0.0,1851812,371.0,41,6318,1,80,0,1
2288,2289,1,7730000.0,43.0,2,0,38,28,1,0,298681,0.0,135836,1274.0,0,699,3,9,0,0
2289,2290,0,850000.0,34.0,2,0,83,16,1,0,790463,0.0,1003837,378.0,0,834,1,35,1,1
2290,2291,1,602000.0,48.0,0,1,90,21,1,0,700000,0.0,193871,0.0,0,0,1,18,0,0
2291,2292,0,64800.0,50.0,0,2,65,99,63,0,32801,0.0,500000,974.0,0,7283,1,66,1,1
2292,2293,0,800000.0,51.0,1,0,78,56,32,0,250000,0.0,0,0.0,0,7257,0,38,0,1
2293,2294,1,476000.0,28.0,2,2,52,7,1,0,250000,0.0,0,239.0,0,12,1,17,0,0